target/test-classes/abccafeproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/current/mule-twitter.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <sfdc:config name="Salesforce__Basic_Authentication" username="sivanagaprasad.seelam@whishworks.com" password="Santhi@23" securityToken="1njJ3Wfmje5oHmEhELFIflRj" doc:name="Salesforce: Basic Authentication"/>
    <twitter:config name="Twitter__Configuration" accessKey="${twitter.accesskey}" accessSecret="${twitter.accesssecret}" consumerKey="${twitter.consumerkey}" consumerSecret="${twitter.consumersecret}" doc:name="Twitter: Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="10.0.2.40" port="3306" user="mule" password="mule" database="training" doc:name="MySQL Configuration"/>
    <twitter:config name="Twitter__Configuration1" accessKey="755625867108290560-jQEOYnnUyleW4dVdjkR1vRBKhIQjIby" accessSecret="Nu9MzoI3D6q3Rxu6B2tlbZYIwetrKLtDUNTksa5E9VrHr" consumerKey="JpEpxkOHvQEBGuz88Z9WGMADk" consumerSecret="nyqKk33UVVsHPLriwqVxMhCdwsiUMHsXXIk5H5qUt4KJaNpxmM" doc:name="Twitter: Configuration"/>
    <jms:activemq-connector name="Active_MQ" username="admin" password="admin" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <flow name="abccafeprojectFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/cafe" doc:name="HTTP"/>
        <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT Analysiscode1__c,Name,Name__c,accountstatuscode__c,lastmodifieddate__c,phoneno__c,salespersoncode__c FROM BillTo__c" doc:name="Salesforce"/>
        <logger message="------------------------------------------------------------------------------------------------#[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message metadata:id="61e62792-15cf-4e18-b9ef-8e6abba66f23" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map ((payload01 , indexOfPayload01) -> {
	No: payload01.Name,
	Name: payload01.Name__c,
	phoneno: payload01.phoneno__c,
	salespersoncode: payload01.salespersoncode__c,
	analysiscode: payload01.Analysiscode1__c,
	lastmodifieddate: payload01.lastmodifieddate__c,
	accountstatus: payload01.accountstatuscode__c
})]]></dw:set-payload>
        </dw:transform-message>
        <foreach doc:name="For Each">
            <db:insert config-ref="MySQL_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[INSERT INTO BILL_TO_SIVA (customernumber,name, phoneno, accountstatus, lastmodifeddate, analysiscode,salespersoncode) VALUES (#[payload.No],#[payload.Name],#[payload.phoneno],#[payload.accountstatus],#[payload.lastmodifeddate],#[payload.analysiscode],#[payload.salespersoncode])]]></db:parameterized-query>
            </db:insert>
        </foreach>
        <twitter:update-status config-ref="Twitter__Configuration1" status="#['Records Fetched from Salesforce and Inserted in to Database ! ' + server.dateTime]" doc:name="Twitter"/>
        <jms:outbound-endpoint queue="test" connector-ref="Active_MQ" doc:name="JMS"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="abccafeprojectFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/abcsell" doc:name="HTTP"/>
        <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT Analysiscode1__c,Analysiscode2__c,Name,Name__c,Postcode__c,accountstatuscode__c,address2__c,address__c,billtocustomernumber__c,city__c,contact__c,country__c,countrycode__c,lastmodifieddate__c,number__c,phoneno__c,pricecardcode__c,salespersoncode__c FROM Sellto__c" doc:name="Salesforce"/>
        <logger message="-----------------------------------------------------------#[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message metadata:id="3453542f-61e8-45ba-8ddc-1e7ca02bcdf3" doc:name="Transform Message">
            <dw:input-payload/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map ((payload01 , indexOfPayload01) -> {
	Number: payload01.number__c as :string,
	lastmodifieddate: payload01.lastmodifieddate__c,
	address: payload01.address__c,
	address2: payload01.address2__c,
	analysiscode1: payload01.Analysiscode1__c,
	analysiscode2: payload01.Analysiscode2__c,
	postalcode: payload01.Postcode__c,
	city: payload01.city__c,
	country: payload01.country__c,
	name: payload01.Name,
	countrycode: payload01.countrycode__c,
	Billtocustomer: payload01.billtocustomernumber__c as :string,
	pricecardno: payload01.pricecardcode__c,
	accountstatuscode: payload01.accountstatuscode__c,
	salespersoncode: payload01.salespersoncode__c,
	phoneno: payload01.phoneno__c
})]]></dw:set-payload>
        </dw:transform-message>
        <logger message="&quot;inserting in to DB==============&quot; [#[payload]" level="INFO" doc:name="Logger"/>
        <foreach doc:name="For Each">
            <db:insert config-ref="MySQL_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[INSERT INTO SellToSiva (No_key,Name,Address,Address2,City,County,PostalCode,Country,PhoneNo,AccountStatus,BillToCustomerNo,salespersoncode,analysiscode1,analysiscode2,lastmodifieddate,pricecardcode) VALUES (#[payload.Number],#[payload.name],#[payload.address],#[payload.address2],#[payload.city],#[payload.country],#[payload.postalcode],#[payload.countrycode],#[payload.phoneno],#[payload.accountstatuscode],#[payload.Billtocustomer],#[payload.salespersoncode],#[payload.analysiscode1],#[payload.analysiscode2],#[payload.lastmodifieddate],#[payload.pricecardno])]]></db:parameterized-query>
            </db:insert>
        </foreach>
        <twitter:update-status config-ref="Twitter__Configuration" status="#['Records are inserted in to DB SIVA'+ server.dateTime]" doc:name="Twitter"/>
        <jms:outbound-endpoint queue="test"  doc:name="JMS"/>
    </flow>
</mule>
